force-app/main/default/flows/SetOwnerSinceFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>SetOwnerSince</name>
        <label>SetOwnerSince</label>
        <locationX>485</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>$Record.Owner_Since__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetNOW</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>OwnerChange</name>
        <label>OwnerChange</label>
        <locationX>277</locationX>
        <locationY>330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOwnerSince</targetReference>
            </connector>
            <label>OwnerChanged</label>
        </rules>
    </decisions>
    <formulas>
        <name>SetNOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SetOwnerSinceFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetOwnerSinceFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>OwnerChange</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
